header {
  background: rgb(24, 109, 135);
  background: radial-gradient(
    circle,
    rgba(24, 109, 135, 1) 0%,
    rgba(16, 58, 71, 1) 100%
  );
  width: 100%;
  color: #fff;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo img {
  cursor: pointer;
  width: 50px;
}

.navigations {
  display: flex;
  gap: 10px;
}

.navigations a {
  transition: 0.3s all;
  padding: 0 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navigations a:hover {
  opacity: 0.7;
}

.menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.action img {
  filter: invert(100%);
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgb(24, 109, 135);
  background: radial-gradient(
    circle,
    rgba(24, 109, 135, 1) 0%,
    rgba(16, 58, 71, 1) 100%
  );

  padding: 10px 0;
  .container {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
  }
}

.header_fixed img {
  width: 30px;
  margin: 0 10px;
  filter: invert(100%);
  border-radius: 20px;
  cursor: pointer;
}

.fmf {
  display: none;
}

/* Mobile styles */
@media (max-width: 950px) {
  header {
    padding: 20px 0;
  }

  .fmf {
    display: block;
  }

  .header_fixed {
    padding: 10px 0;
    font-size: 13px;
  }

  .header_fixed img {
    width: 20px;
  }

  .navigations {
    transition: 0.5s all;
    flex-direction: column;
    position: fixed;
    gap: 0px !important;
    padding-top: 100px;
    top: 44px;
    z-index: 99999 !important;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(24, 109, 135);
    background: radial-gradient(
      circle,
      rgba(24, 109, 135, 1) 0%,
      rgba(16, 58, 71, 1) 100%
    );
    overflow-y: auto;
    z-index: 998;
  }

  .navigations.open {
    display: flex;
    left: 0;
  }

  .navigations a {
    padding: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  .menu {
    display: block;
    position: fixed;
    font-size: 15px;
    background: rgb(24, 109, 135);
    background: radial-gradient(
      circle,
      rgba(24, 109, 135, 1) 0%,
      rgba(16, 58, 71, 1) 100%
    );
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 99999999 !important;
    img {
      object-fit: cover;
      margin-bottom: -3px;
    }
  }
}
